@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */

.font-custom-anton {
  font-family: 'Anton', sans-serif;
}

.font-custom-anton-bold {
  font-family: 'Anton', sans-serif;
  font-weight: 700;  /* Bold */
}

.font-custom-manrope {
  font-family: 'Manrope', sans-serif;
  font-weight: 300; /* lighter */
}

.font-custom-manrope-bold {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;  /* Bold */
}

.color-black {
  color: #1B1B1B;
}

.color-grey {
  color: #7A7A7A;
}

.color-light-grey {
  color: #C6C6C6;
}

.color-yellow {
  color: #FFD15B;
}

.backgroundColor-yellow {
  background-color: #FFD15B;
}

/**/

h1 {
  font-size: 42px;
  font-family: 'Anton', sans-serif;
  color: #FFD15B;
  line-height: 125%;
}

h2 {
  font-size: 18px;
  font-family: 'Anton', sans-serif;
}

h3 {
  font-size: 12px;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;  /* Bold */
  color: #7A7A7A;
}

p {
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 300; /* lighter */
  color: #1B1B1B;
}

body {
  background-color: #EDEDED;
}

/* Card */

.card {
  box-shadow: 0 0 34px 30px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.card-image-container {}

.timer {}

.content {}
  

.card-image {

  height: 253px;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card-description {
  /* Affichage sur 4 lignes */
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-elements {}

.item-title {}

.item-detail {}

/* Header */
.logo {}

.center-elements {}

.bg-container {
  background-image: url('images/cover.jpg');
}

/* Style pour le titre principal */
.title-main {}

    
/* SearchBar */

.search-bar {
  background-color: white;
}

.search-input {}

.icon-container {}

.search-icon:hover {
  background-color: #FFD15B;
  color: #1B1B1B;
  cursor: pointer;
}

.search-icon,
.clear-icon {
  cursor: pointer;
}

.search-icon {}

.clear-icon {}

.hidden {
  display: none;
}

.card-container {}

/* Menu déroulant */

.dropdown-container {}

.dropdown {}

.dropdown-header {
  background-color: white;
}

.dropdown-list {}

.dropdown-list li:hover {
  background-color: #FFD15B;
  color: #1B1B1B;
}

.search-bar-container {}

.clear-icon-dropdown {}

.search-bar-dropdown {
  outline: 2px solid #C6C6C6;
}

.search-bar-error {
  color: red;
  background-color: white;
  opacity: 0.8;
  outline: 2px solid red;
}

/* Compteur */

.menu-container {}

.counter {}

/* Tags */

.tag-container {}

.tag-view {
  margin-bottom: 10px;
}

.tag-content {}


  
  
  