@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */

.font-custom-anton {
  font-family: 'Anton', sans-serif;
}

.font-custom-anton-bold {
  font-family: 'Anton', sans-serif;
  font-weight: 700;  /* Bold */
}

.font-custom-manrope {
  font-family: 'Manrope', sans-serif;
  font-weight: 300; /* lighter */
}

.font-custom-manrope-bold {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;  /* Bold */
}

.color-black {
  color: #1B1B1B;
}

.color-grey {
  color: #7A7A7A;
}

.color-light-grey {
  color: #C6C6C6;
}

.color-yellow {
  color: #FFD15B;
}

.backgroundColor-yellow {
  background-color: #FFD15B;
}

h1 {
  @apply text-[42px] font-custom-anton color-yellow;
  line-height: 125%;
}

h2 {
  @apply text-[18px] font-custom-anton;
}

h3 {
  @apply text-[12px] font-custom-manrope-bold color-grey;
}

p {
  @apply text-[14px] font-custom-manrope color-black;
}

body {
  background-color: #EDEDED;
}

/* Card */

.card {
  @apply max-w-sm shadow-xl rounded-2xl;
  box-shadow: 0 0 34px 30px rgba(0, 0, 0, 0.1);
}

.card-image-container {
  @apply relative mb-4;
}

.timer {
  @apply rounded-md absolute top-4 right-4 p-1 text-[12px] font-custom-manrope backgroundColor-yellow;
}

.content {
  @apply flex flex-col gap-4 p-4;
}
  
.card-image {
  @apply h-[253px] w-full object-cover;
}

.card-description {
  @apply text-base;
}

.card-elements {
  @apply grid grid-cols-2 gap-4 p-4;
}

.item-title {
  @apply block color-black;
}

.item-detail {
  @apply block color-grey;
}

/* Header */
.logo {
  @apply absolute top-4 left-4 w-[50px] h-[50px];
}

.center-elements {
  @apply flex flex-col items-center justify-center;
}

.bg-container {
  @apply relative bg-cover bg-center h-[667px] w-full;
  background-image: url('images/cover.jpg');
}

/* Style pour le titre principal */
.title-main {
  @apply text-center py-12;
  @apply text-5xl font-bold text-white;
}

    
/* SearchBar */

.search-bar {
  @apply relative flex items-center h-[72px] max-w-4xl rounded-full shadow-xl px-8;
  background-color: white;
}

.search-input {
  @apply flex-grow h-full rounded-full text-lg border-black focus:outline-none bg-transparent;
}

.icon-container {
  @apply flex flex-row items-center justify-end;
}

.search-icon:hover {
  @apply backgroundColor-yellow color-black;
}

.search-icon,
.clear-icon {
  @apply flex items-center justify-center rounded-md;
}

.search-icon {
  @apply bg-black text-white w-10 h-10;
}

.clear-icon {
  @apply text-black w-16 h-16;
}

.hidden {
  display: none;
}

.card-container {
  @apply p-12 grid grid-cols-3 gap-12 justify-items-center justify-center;
}

/* Menu déroulant */

.dropdown-container {
  @apply flex space-x-4;
}

.dropdown {
  @apply w-[200px] relative;
}

.dropdown-header {
  @apply font-custom-manrope p-4 rounded-xl flex justify-between items-center cursor-pointer;
  background-color: white;
}

.dropdown-list {
  @apply p-4 max-h-[200px] overflow-y-auto bg-white absolute z-10 w-full rounded-xl;
}

.dropdown-list li:hover {
  @apply backgroundColor-yellow color-black;
}

.search-bar-container {
  @apply relative;
}

.clear-icon-dropdown {
  @apply absolute top-1/2 right-2 transform -translate-y-1/2 cursor-pointer;
}

.search-bar-dropdown {
  @apply p-2 w-full;
  outline: 2px solid #C6C6C6;
  /* DEBUG */
}

/* Compteur */

.menu-container {
  @apply p-12 flex  items-center place-content-between;
}

.counter {
  @apply text-[21px] font-custom-anton-bold color-black;
}

/* Tags */

.tag-container {
  @apply px-12;
}

.tag-view {
  @apply inline-flex items-center p-4 m-1 rounded-xl h-[53px] backgroundColor-yellow color-black;
}

.tag-content {
  @apply pr-12;
}


  
  
  