<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Ma page de test</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="card">
      <div class="card-image-container">
        <img
          src="https://plus.unsplash.com/premium_photo-1693724097398-a8db943f5cb1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2787&q=80"
          alt="Image"
          class="card-image"
        />
        <div class="timer">10min</div>
      </div>
      <div class="content">
        <h2 class="mb-4">Titre de la recette</h2>
        <h3>RECETTE</h3>
        <p class="card-description">
          Mettre les glaçons à votre goût dans le blender, ajouter le lait, la
          crème de coco, le jus de 2 citrons et le sucre. Mixer jusqu'à avoir la
          consistence désirée.
        </p>
        <h3>INGREDIENTS</h3>
        <div class="card-elements">
          <div>
            <span class="item-title">Lait</span>
            <span class="item-detail">400ml</span>
          </div>
          <div>
            <span class="item-title">Viande</span>
            <span class="item-detail">200g</span>
          </div>
          <div>
            <span class="item-title">Orange</span>
            <span class="item-detail">2 pièces</span>
          </div>
          <div>
            <span class="item-title">Boeuf</span>
            <span class="item-detail">300g</span>
          </div>
          <div>
            <span class="item-title">Banane</span>
            <span class="item-detail">3 pièces</span>
          </div>
          <div>
            <span class="item-title">Bière</span>
            <span class="item-detail">1 bouteille</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
