<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Ma page de test</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Anton:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="bg-container center-elements">
      <!-- Logo -->
      <img src="images/Logo.png" alt="Logo" class="logo" />

      <!-- Titre principal -->
      <div class="title-main">
        <h1>
          CHERCHEZ PARMI PLUS DE 1500 RECETTES<br />
          DU QUOTIDIEN,SIMPLES ET DÉLICIEUSES
        </h1>
      </div>
      <div class="search-bar">
        <input
          type="text"
          placeholder="Rechercher une recette"
          class="search-input"
        />
        <div class="icon-container">
          <div class="clear-icon hidden">
            <i class="fas fa-times"></i>
          </div>
          <div class="search-icon">
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
      <div class="search-bar-error"></div>
    </div>

    <!-- Menu déroulant -->
    <div class="menu-container">
      <div class="dropdown-container">
        <div class="dropdown" data-type="ingredient">
          <div class="dropdown-header">
            <span class="title">Ingrédients</span>
            <i class="fas fa-chevron-down chevron"></i>
          </div>
          <div class="dropdown-list hidden">
            <!-- Barre de recherche -->
            <div class="search-bar-container">
              <input
                type="text"
                class="search-bar-dropdown"
                placeholder="Recherche..."
              />
              <i class="fas fa-times clear-icon-dropdown hidden"></i>
              <!-- Icone de la croix -->
            </div>
            <ul class="dropdown-options">
              <!-- Injection des options -->
            </ul>
          </div>
        </div>

        <div class="dropdown" data-type="appliance">
          <div class="dropdown-header">
            <span class="title">Appareils</span>
            <i class="fas fa-chevron-down chevron"></i>
          </div>
          <div class="dropdown-list hidden">
            <!-- Barre de recherche -->
            <div class="search-bar-container">
              <input
                type="text"
                class="search-bar-dropdown"
                placeholder="Recherche..."
              />
              <i class="fas fa-times clear-icon-dropdown hidden"></i>
              <!-- Icone de la croix -->
            </div>
            <ul class="dropdown-options">
              <!-- Injection des options -->
            </ul>
          </div>
        </div>

        <div class="dropdown" data-type="ustensils">
          <div class="dropdown-header">
            <span class="title">Ustensiles</span>
            <i class="fas fa-chevron-down chevron"></i>
          </div>
          <div class="dropdown-list hidden">
            <!-- Barre de recherche -->
            <div class="search-bar-container">
              <input
                type="text"
                class="search-bar-dropdown"
                placeholder="Recherche..."
              />
              <i class="fas fa-times clear-icon-dropdown hidden"></i>
              <!-- Icone de la croix -->
            </div>
            <ul class="dropdown-options">
              <!-- Injection des options -->
            </ul>
          </div>
        </div>
      </div>

      <div class="counter">
        <!-- Injection du compteur -->
      </div>
    </div>

    <!-- Tags -->
    <div class="tag-container">
      <!-- Injection des tags -->
    </div>

    <!-- Cartes -->
    <div class="card-container">
      <!-- Injection des cartes -->
    </div>
  </body>
</html>
